* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
Dockerfile.prod linguist-language=Dockerfile

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
