{
	frankenphp
}

{$SERVER_NAME:localhost} {
	root * /app/public
	encode zstd br gzip

	log {
		output stdout
		format console {
			time_format "wall"
		}
	}

	php_server {
		try_files {path} index.php
	}
}
